<!DOCTYPE html>
<html>
    <head>
        <title>Node</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        
        <header>
            <h1>Header</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/message">Message</a>
        </nav>

       
        
         {{{body}}}

        <footer>
            <h1>Footer</h1>
        </footer>
        <script src="js/script.js"></script>
    </body>
</html>